.repoList_text {
    color: rgb(150, 158, 164);
}

.repoList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.repoList_list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 25px;
}
