.form {
    display: flex;
    gap: 10px;
}

.form_input {
    padding: 15px 10px;
    border-radius: 6px;
    border: none;
    background-color: rgb(33, 31, 31);
    color: rgb(150, 158, 164);
}

.form_input:focus {
    outline: none;
}