.repoDetails__head_text {
    color: rgb(150, 158, 164);
}

.repoDetails {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.repoDetails_text {
    color: rgb(150, 158, 164);
}

.repoDetails_link {
    color: rgb(150, 158, 164);
    cursor: pointer;
}

.repoDetails_link:hover {
    color: rgb(97, 92, 92);
    transition: 0.3s ease;
}

.repoDetails_img {
    width: 200px;
    height: 200px;
    border-radius: 6px;
}